{% extends "../base.twig" %}

{% block styles %}
	<link rel="stylesheet" href="./assets/css/food.css">
{% endblock %}


{% block title %}
	<title>Suivi de l'alimentation</title>
{% endblock %}

{% block main %}

	<section>
		<div class="meal-cards-container">
			<div class='foods-title'>
				<div>
					<img src="./assets/media/icons/icon_food.svg" alt="Icône d'alimentation">
				</div>
				<h2>
					<span>{{user.firstname}}</span>, ici se trouvent tes repas !</h2>
			</div>
			{% if foods %}
				{% for food in foods %}
					<div class="meal-card">
						<div>
							<div class="meal-label">
								<h4>Type de repas :&nbsp;&nbsp;</h4>
								<p>{{ food.mealType }}</p>
							</div>
							<div class="meal-label">
								<h4>Titre du plat :&nbsp;&nbsp;</h4>
								<p>{{ food.mealTitle }}</p>
							</div>
							<div class="meal-label">
								<h4>Contenu :&nbsp;&nbsp;</h4>
								<p>{{ food.mealContentTitle }}&nbsp;-&nbsp;{{ food.mealContentType }}&nbsp;{{ food.mealContentQuantity }}</p>
							</div>
							<div class="meal-label">
								<h4>
									A&nbsp;&nbsp;
								</h4>
								<p>{{food.mealTime}}</p>
							</div>
							<div class="meal-label" id="prep">
								<h4>
									Préparation :
								</h4>
								<p>{{food.mealPreparation}}</p>
							</div>
							<div class="meal-label" id="comm">
								<h4>
									Commentaires :
								</h4>
								<p>{{food.mealPreparation}}</p>
							</div>
							<div class="meal-label">
								<h4>
									Crée le :&nbsp;&nbsp;
								</h4>
								<p class="currentDate"></p>
							</div>
						</div>
						<div class="links-card-user">
							<a id="delete-btn" href="./fooddelete/{{food.id}}"><img src="./assets/media/icons/icon_trash.svg" alt="Icône d'une poubelle">Supprimer</a>
							<a id="update-btn" href="./foodupdate/{{food.id}}"><img src="./assets/media/icons/icon_edit.svg" alt="Icône de modification">Modifier</a>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<p>Entrez un nouveau plat, il y en a pas...</p>
			{% endif %}
		</div>
	</section>


	<section class="addfood-container">
		<div class="title-info">
			<div class="img-info">
				<img src="./assets/media/icons/icon_food.svg" alt="Icône d'alimentation">
			</div>
			<div>
				<h2>+ Ajouter un repas</h2>
			</div>
		</div>
		<form class="form-addfood" method="POST" action="/addfood">
			<div class="label-cards">
				<label for="mealEmail">Email :</label>
				<input type="text" name="mealEmail" id="mealEmail" value="{{food.mealEmail}}">
			</div>
			<div class="label-cards">
				<label for="mealType">Type de repas :</label>
				<select name="mealType">
					<option value="undefined">Choissisez</option>
					<option value="entree">Entrée</option>
					<option value="plat_principal">Plat principal</option>
					<option value="dessert">Dessert</option>
					<option value="boisson">Boisson</option>
				</select>
				{% if error %}
					<p>{{error.mealType}}</p>
				{% endif %}

			</div>
			<div class="label-cards">
				<label for="mealTime">Heure de repas :</label>
				<input type="time" name="mealTime" id="mealTime" value="{{food.mealTime}}">
			</div>

			<div class="label-cards">
				<label for="mealTitle">Titre du plat :</label>
				<input type="text" name="mealTitle" id="mealTitle" value="{{food.mealTitle}}" placeholder="Entrez le nom du plat" required>
				{% if error %}
					<p>{{error.mealTitle}}</p>
				{% endif %}
			</div>

			<div class="label-cards">
				<label for="mealContentTitle">Contenu :</label>
				<div class="content-inputs">
					<div>
						<input id="ingredient" type="text" name="mealContentTitle" id="mealContentTitle" value="{{food.mealContentTitle}}" placeholder="Ingrédient">
					</div>
					<div>
						<select name="mealContentType" id="mealContentType">
							<option value="undefined">Type</option>
							<option value="viande">Viande</option>
							<option value="cereales">Céréales</option>
							<option value="legumineuses">Légumineuses</option>
							<option value="fruits">Fruits</option>
							<option value="legumes">Légumes</option>
							<option value="poisson">Poisson</option>
							<option value="produits_laitiers">Produits laitiers</option>
							<option value="boissons">Boissons</option>
							<option value="graines_oleagineuses">Graines oléagineuses</option>
							<option value="sucreries">Sucreries</option>
						</select>
					</div>
					<div>
						<select name="mealContentQuantity" id="mealContentUnits">
							<option value="kg">kg</option>
							<option value="g">g</option>
							<option value="oz">oz</option>
							<option value="cuil">cuil.</option>
							<option value="cuil_a_s">cuil. à s.</option>
							<option value="cuil_a_c">cuil. à c.</option>
							<option value="L">L</option>
							<option value="dL">dL</option>
							<option value="cL">cL</option>
							<option value="mL">mL</option>
							<option value="pintes">pintes</option>
							<option value="quart">quart</option>
							<option value="tass">tass.</option>
							<option value="u">u.</option>
						</select>
					</div>
				</div>
			</div>

			<div class="label-cards">
				<label for="mealPreparation">Préparation :</label>
				<textarea name="mealPreparation" id="mealPreparation" placeholder="Entrez la méthode de préparation">{{ food.mealTime }}</textarea>
			</div>

			<div class="label-cards">
				<label for="mealComments">Commentaires :</label>
				<textarea name="mealComments" id="mealComments" placeholder="Comment vous êtes-vous sentie avec ce repas ?">{{ food.mealTime }}</textarea>
			</div>

			<button id="btn-submit" type="submit">Enregistrer</button>
		</form>
	</section>


	<script>
		function getCurrentDate() {
const today = new Date();
const day = String(today.getDate()).padStart(2, '0');
const month = String(today.getMonth() + 1).padStart(2, '0');
const year = today.getFullYear();

return `${day}/${month}/${year}`;
}

const currentDateElements = document.querySelectorAll('.currentDate');
currentDateElements.forEach(element => {
element.textContent = getCurrentDate();
});
	</script>
{% endblock %}
