{% extends "../base.twig" %}

{% block styles %}
	<link rel="stylesheet" href="./assets/css/medicaments.css">
{% endblock %}


{% block title %}
	<title>Suivi des médicaments</title>
{% endblock %}

{% block main %}

	<section>
		<div class="meal-cards-container">
			<div class='foods-title'>
				<div>
					<img src="./assets/media/icons/icon_pills.svg" alt="Icône des médicaments">
				</div>
				<h2>
					<span>{{user.firstname}}</span>, ici se trouvent tes médicaments !</h2>
			</div>
			{% if medicaments %}
				{% for medicament in medicaments %}
					<div class="meal-card">
						<div>
							<div class="meal-label">
								<h4>Nom du médicament :&nbsp;&nbsp;</h4>
								<p>{{ medicament.medicName}}</p>
							</div>
							<div class="meal-label">
								<h4>Quantité prise :&nbsp;&nbsp;</h4>
								<p>{{ medicament.medicQuantityNumber }}&nbsp;&nbsp;{{medicament.medicQuantity}}</p>
							</div>
							<div class="meal-label">
								<h4>Fréquence :&nbsp;&nbsp;</h4>
								<p>{{ medicament.medicFrequency }}</p>
							</div>
							<div class="meal-label">
								<h4>Date de début :&nbsp;&nbsp;</h4>
								<p>{{ medicament.medicStartDate|date('d/m/Y')  }}</p>
							</div>
							<div class="meal-label">
								<h4>Date de fin :&nbsp;&nbsp;</h4>
								<p>{{ medicament.medicEndDate|date('d/m/Y')  }}</p>
							</div>
							<div class="meal-label" id="prep">
								<h4>
									Symptômes :
								</h4>
								<p>{{medicament.medicSymptoms}}</p>
							</div>
							<div class="meal-label" id="comm">
								<h4>
									Commentaires :
								</h4>
								<p>{{medicament.medicComments}}</p>
							</div>
							<div class="meal-label">
								<h4>
									Crée le :&nbsp;&nbsp;
								</h4>
								<p class="currentDate"></p>
							</div>
						</div>
						<div class="links-card-user">
							<a id="delete-btn" href="./medicamentdelete/{{medicament.id}}"><img src="./assets/media/icons/icon_trash.svg" alt="Icône d'une poubelle">Supprimer</a>
							<a id="update-btn" href="./medicamentupdate/{{medicament.id}}"><img src="./assets/media/icons/icon_edit.svg" alt="Icône de modification">Modifier</a>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<p>Entrez un nouveau médicament, il y en a pas...</p>
			{% endif %}
		</div>
	</section>


	<section class="addfood-container">
		<div class="title-info">
			<div class="img-info">
				<img src="./assets/media/icons/icon_pills.svg" alt="Icône de médicaments">
			</div>
			<div>
				<h2>+ Ajouter un médicament</h2>
			</div>
		</div>
		<form class="form-addfood" method="POST" action="/addmedicaments">
			<div class="label-cards">
				<label for="medicName">Médicament :</label>
				<input type="text" name="medicName" id="medicName" value="{{medicament.medicName}}">
			</div>

			<div class="label-cards">
				<label for="medicQuantityNumber">Quantité :</label>
				<input type="text" name="medicQuantityNumber" id="medicQuantityNumber" value="{{medicament.medicQuantityNumber}}">

				<select name="medicQuantity" id="medicQuantity">
					<option value="Cpr.">Cpr.</option>
					<option value="Gél.">Gél.</option>
					<option value="Susp.">Susp.</option>
					<option value="Sol.">Sol.</option>
					<option value="Pom.">Pom.</option>
					<option value="Crème.">Crème.</option>
					<option value="Gtt.">Gtt.</option>
					<option value="Inhal.">Inhal.</option>
					<option value="Compl.">Compl.</option>
					<option value="Patch.">Patch.</option>
				</select>
			</div>

			<div>
				<div class="label-cards">
					<label for="medicStartDate">Date de début :</label>
					<input type="date" name="medicStartDate" id="medicStartDate" value="{{medicament.medicStartDate}}">
				</div>
				<div class="label-cards">
					<label for="medicEndDate">Date de fin :</label>
					<input type="date" name="medicEndDate" id="medicEndDate" value="{{medicament.medicEndDate}}">
				</div>
			</div>

			<div class="label-cards">
				<label for="medicSymptoms">Symptômes :</label>
				<textarea name="medicSymptoms" id="medicSymptoms">{{ food.medicSymptoms }}</textarea>
			</div>

			<div class="label-cards">
				<label for="medicComments">Notes supplémentaires :</label>
				<textarea name="medicComments" id="medicComments">{{ food.medicComments }}</textarea>
			</div>

			<button id="btn-submit" type="submit">Enregistrer</button>
		</form>
	</section>

	<script>
		function getCurrentDate() {
const today = new Date();
const day = String(today.getDate()).padStart(2, '0');
const month = String(today.getMonth() + 1).padStart(2, '0');
const year = today.getFullYear();

return `${day}/${month}/${year}`;
}

const currentDateElements = document.querySelectorAll('.currentDate');
currentDateElements.forEach(element => {
element.textContent = getCurrentDate();
});
	</script>
{% endblock %}
